/*------------------------------------*\
  #Headerimage
\*------------------------------------*/

.ws-headerimage {
  background-image: url("https://source.unsplash.com/random");
  height: 500px;
  background-position: center;
  background-size: cover;
  display:flex;
  align-items: center;

  &_text {
    width: 50%;
  }
}

/*------------------------------------*\
  #Maincontent
\*------------------------------------*/
.ws-intro {
  padding: 75px 0;
  text-align: center;
}