.ws-nav_list {
  display: flex;
  list-style: none;
  li {
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
}

/*
#SUBNAV
*/

.ws-nav_subnav {
  display: none;
  color: white;
}
.ws-nav_list li:hover .ws-nav_subnav {
  display: block;
}