.ws-teaser {
  background-color: $color2;
  padding: 50px 0;

  h2 {
    text-align: center;
  }

  &_container {
    background-color: $white;
  }

  &_img img{
    width: 100%;
    height: auto;
  }

  &_text {
    padding: 10px;
  }
}