body {
  font-family: $font-family;
}

/*------------------------------------*\
  #Headlines
\*------------------------------------*/
h1 {
  font-size: $h1-fontsize;
  color: $h1-color;
  margin: $h1-margin;
}
h2 {
  font-size: $h2-fontsize;
  color: $h2-color;
  margin: $h2-margin;
}
h3 {
  font-size: $h3-fontsize;
  color: $h3-color;
  margin: $h3-margin;
}
h4 {
  font-size: $h4-fontsize;
  color: $h4-color;
  margin: $h4-margin;
}
h5 {
  font-size: $h5-fontsize;
  color: $h5-color;
  margin: $h5-margin;
}
h6 {
  font-size: $h6-fontsize;
  color: $h6-color;
  margin: $h6-margin;
}