/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$color1: #435465;
$color2: #f0f2e9;
$color3: #9acaeb;

$white: #fff;
$black: #000;

$text-dark: $color1;
$text-light: $white;


$body-bg: $white;


/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,700');

$font-family: 'Poppins', sans-serif;

$font-color: $black;
$link-color: $black;
$hover-color: $color3;

$h1-fontsize: 2em;
$h1-color: $color1;
$h1-margin: .67em 0;

$h2-fontsize: 1.5em;
$h2-color: $color1;
$h2-margin: .75em 0;

$h3-fontsize: 1.17em;
$h3-color: $color1;
$h3-margin: .83em 0;

$h4-fontsize: 1em;
$h4-color: $text-dark;
$h4-margin: .90em 0;

$h5-fontsize: .83em;
$h5-color: $text-dark;
$h5-margin: 1.5em 0;

$h6-fontsize: .67em;
$h6-color: $text-dark;
$h6-margin: 1.67em 9;

$paragraph-fontsize: 1em;
$paragraph-color: $text-dark;
$paragraph-lineheight: 28pxpx;
